* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-home .list ul {
    display: flex;
}

.nav {
    display: flex;
    margin-top: 33px;
    align-items: center;
    justify-content: center;
}

.container-home .list ul li {
    margin-right: 27px;
    color: #000;
    font-family: Poppins;
    font-size: 13.714px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo {
    margin-right: 118.29px;
}

.logo span {
    color: #323232;
    /* font-family: "Istok Web"; */
    font-size: 27.696px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-content {
    border: 1px solid black;
    /* margin: 60.7px 127px 10922px 128px; */
    width: 1184.768px;
    height: 623.188px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.same-line1 {
    display: flex;
}

.same-line2 {
    display: flex;
}

.full {
    border: 1px solid black;
    margin-left: 96px;
    margin-top: 160.31px;
}

.full span {
    color: #455A64;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 126%;
}

.full p {
    color: #535359;
    font-family: Poppins;
    font-size: 16.665px;
    font-style: normal;
    font-weight: 500;
    line-height: 146.687%;
    letter-spacing: 0.5px;
}